@import "tailwindcss";

/* Colores base */
:root {
  --background: #f4f4f5;
  --foreground: #020617;
}

/* Estilo general del body */
body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

/* Fondo con logo (opcional) */
.bg-logo {
  background-image: url("/logoooo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
